:root{
  --card-bg: #fff
}

.grid--2-col{
  display:grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.6rem;
}

.sidebar-col{
  background-color: var(--primary-color);
  height: 70rem;
  color: var(--black-s4)
}

.products-col{
  background-color: var(--black-s4)
}

.vt--card-container{
  background-color: var(--card-bg);
}

.last-child{
  color: var(--text-sc);
}

.slider{
  width:80%;
}
